<div class="container">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Menu</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <h1>
          <a class="navbar-brand" href="index.html">
             {{ 'MENU.WEBSITE.NAME' | translate }}<br/>
              <small>{{ 'WEBSITE.TITLE' | translate }}</small>
          </a>
        </h1>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="" ng-click="goToAnchor('reveil')"><i class="fa fa-clock"></i> {{ 'MENU.ALARM.NAME' | translate }}</a></li>
          <li><a href="" ng-click="goToAnchor('chrono')">{{ 'MENU.CHRONO.NAME' | translate }}</a></li>
          <li><a href="" ng-click="goToAnchor('comments')">{{ 'MENU.COMMENTS.NAME' | translate }}</a></li>
          <li><a href="http://www.facebook.com/reveil.en.ligne" ng-click="facebookClick('Page')" target="_BLANK">{{ 'MENU.FACEBOOK' | translate }}</a></li>
          <li>
              <a href="" ng-click="facebookClick('like')">
                <div class="fb-like" data-href="http://www.facebook.com/reveil.en.ligne" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
              </a>
          </li>
          <!-- <li><a href="http://www.reveil-en-ligne.fr/V1" target="_BLANK">{{ 'MENU.OLD.VERSION' | translate }}</a></li> -->
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ 'LANGUAGE' | translate }}<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="" ng-click="changeLanguage('en')">English</a></li>
                    <li><a href="" ng-click="changeLanguage('fr')">Français</a></li>
                    <li><a href="" ng-click="changeLanguage('es')">Español</a></li>
                    <li class="divider"></li>
                    <li><a target="_blank" href="https://github.com/polomarcus/wake-me-up#add-a-language">{{ 'ADD.YOURS' | translate }}</a></li>
                </ul>
            </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</div>

