<!DOCTYPE html>
<html ng-app="reveilEnLigne" ng-controller="AppCtrl">
  <head>
    <title>Le réveil en ligne préféré des internautes !</title>

    <!-- social media tags -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@polomarcus">
    <meta name="twitter:title" content="Reveil en ligne">
    <meta name="twitter:description" content="Le réveil en ligne préféré des internautes">
    <meta name="twitter:creator" content="@polomarcus">
    <meta name="twitter:image:src" content="https://a248.e.akamai.net/assets.github.com/images/modules/logos_page/Octocat.png?1366128846">
    <meta property="og:title" content="Reveil en ligne" />
    <meta property="og:type" content="website" />
    <meta name="keywords" content="reveil en ligne, reveil matin, chronomètre, chrono, montre, horloge, temps, son, musique, reveil musical">
    <meta name="description" content="Servez vous de vos liens YouTube, Dailymotion, ou le streaming de votre radio préférée pour vous reveiller le tout dans un design simple et moderne. Utilisez aussi le chronomètre en ligne proposé sur le site !">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="fb:admins" content="paul.leclercq">
    <meta name="robots" content="index,follow">
    <meta name="revisit-after" content="10 days">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="shortcut icon" href="assets/img/icon.png" type="image/x-icon">
    <link rel="icon" href="assets/img/icon.png" type="image/x-icon">

    <!-- font awesome from BootstrapCDN -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>

    <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
    <script type="text/javascript" src="assets/js/googleTrack.js"></script>
    <script type="text/javascript" src="assets/js/advertisement.js"></script>

    <script src="assets/js/soundcloud.min.js"></script>
    <script type="text/javascript">
      SC.initialize({
        client_id: "9f2070a217c081383260f1c7f0c89bea",
        redirect_uri: "http://www.reveil-en-ligne.fr/",
      });
    </script>
    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>

  </head>
  <body>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&appId=559454604162123&version=v2.0";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <div class="container">
      <div>
        <div class="navbar navbar-default">
          <div class="navbar-header">
            <a class="navbar-brand" href="index.html">
              Reveil-en-ligne.fr
            </a>
          </div>
          <div class="navbar-collapse" collapse="menuCollapsed">
            <ul class="nav navbar-nav">
              <li><a href="" ng-click="goToAnchor('reveil')">Réveil</a></li>
              <li><a href="" ng-click="goToAnchor('chrono')">Chronomètre</a></li>
              <li><a href="" ng-click="goToAnchor('comments')">Commentaires</a></li>
              <li><a href="http://www.facebook.com/reveil.en.ligne" target="_BLANK">Page facebook</a></li>
              <li><a href="http://www.reveil-en-ligne.fr/V1" target="_BLANK">Reveil version 1</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

	<div class="container">
		<center class="hidden-sm hidden-xs">
		<!-- Début tag AdServerPub DESKTOP//-->
			<script language="JavaScript" type="text/javascript" src="http://www2.adserverpub.com/group.php?id=22019-27062&data=1&width=728&height=90"></script>
		<!-- Fin tag AdServerPub //-->
		</center>

    <center class="hidden-lg hidden-md">
    <!-- Début tag AdServerPub MOBILE//-->
      <script language="JavaScript" type="text/javascript" src="http://www2.adserverpub.com/group.php?id=22019-27062&data=1&width=300&height=250"></script>
    <!-- Fin tag AdServerPub //-->
    </center>
  </div>


    <div class="container" ui-view="main"></div>

    <footer class="footer">
      <div class="container">
        <div class="footer-inner center-block">
          <ul class="list-inline social-buttons">
            <li>
              <div class="fb-like" data-href="http://www.facebook.com/reveil.en.ligne" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div></li>
            <li>
              <a href="https://twitter.com/share" class="twitter-share-button" data-text="Le réveil en ligne préféré des internautes" data-via="polomarcus" data-hashtags="reveil">Tweeter ce site</a>
              <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
            </li>
            <li>
				        <g:plusone href="http://www.reveil-en-ligne.fr/"></g:plusone>
            </li>
          </ul>

          <p>
            <strong><i>Vous réveille avec <i class="fa fa-heart"></i> depuis 2011</i></strong>
          </p>
        </div>
      </div>
    </footer>
    <script>window.twttr = (function (d, s, id) {
    var t, js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src= "https://platform.twitter.com/widgets.js";
    fjs.parentNode.insertBefore(js, fjs);
    return window.twttr || (t = { _e: [], ready: function (f) { t._e.push(f) } });
  }(document, "script", "twitter-wjs"));</script>

  <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
  <script type="text/javascript" src="assets/js/googleTrack.js"></script>
  <script type="text/javascript" src="assets/js/advertisement.js"></script>
  </body>
</html>
