<!DOCTYPE html>
<html ng-app="wakeMeUp" ng-controller="AppCtrl" lang="en" dir="ltr">
  <head itemscope itemtype="http://schema.org/WebSite">
    <title itemprop='name' ng-cloak>Wake-me-up | Le réveil en ligne préféré des internautes!</title>

    <link rel="canonical" href="http://wake-me-up.co/" itemprop="url">

    <!-- social media tags -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@polomarcus">
    <meta name="twitter:title" translate translate-attr-content="MENU.WEBSITE.NAME">
    <meta name="twitter:description" translate translate-attr-content="WEBSITE.TITLE">
    <meta name="twitter:creator" content="@polomarcus">
    <meta name="keywords" content="reveil en ligne, reveil matin, online alarm clock, music, musique">
    <meta name="description" content="Réveillez vous avec Youtube, Twitch, Deezer, Souncloud, MixCloud ou votre radio préféréé" translate translate-attr-content="WEBSITE.DESCRIPTION">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="fb:admins" content="paul.leclercq">
    <meta property="og:title" translate translate-attr-content="MENU.WEBSITE.NAME" />
    <meta property="og:type" content="website" />
    <meta name="robots" content="index,follow">
    <meta name="revisit-after" content="5 days">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=Edge">

    <link rel="shortcut icon" href="assets/img/icon.png" type="image/x-icon">
    <link rel="icon" href="assets/img/icon.png" type="image/x-icon">

    <!--Available languages-->
    <link rel="alternate" href="http://wake-me-up.co/#/en" hreflang="en" />
    <link rel="alternate" href="http://wake-me-up.co/#/es" hreflang="es" />
    <link rel="alternate" href="http://wake-me-up.co/#/pt" hreflang="pt" />
    <link rel="alternate" href="http://wake-me-up.co/#/ru" hreflang="ru" />
    <link rel="alternate" href="http://wake-me-up.co/#/de" hreflang="de" />
    <link rel="alternate" href="http://wake-me-up.co/#/it" hreflang="it" />
    <link rel="alternate" href="http://reveil-en-ligne.fr/#/fr" hreflang="fr" />

    <!-- font awesome from BootstrapCDN -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>

    <script src="assets/js/soundcloud.min.js"></script>
    <script type="text/javascript">
      SC.initialize({
        client_id: "9f2070a217c081383260f1c7f0c89bea",
        redirect_uri: "http://www.reveil-en-ligne.fr/"
      });
    </script>
    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>

  </head>
  <body>
    <div id="fb-root"></div>

    <div class="container">
      <div class="row text-center" ng-show="isViewLoading">
        <h1><i>Wake-me-up.co</i></h1>
        <h2><i>Internet's favorite alarm clock!</i></h2>
        <h2><i>Le réveil en ligne préféré des internautes !</i></h2>
      </div>
    </div>

    <menu-top></menu-top>

    <div class="container" ui-view="main"></div>

    <footer-content></footer-content>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    
    <script>window.twttr = (function (d, s, id) {
    var t, js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src= "https://platform.twitter.com/widgets.js";
    fjs.parentNode.insertBefore(js, fjs);
    return window.twttr || (t = { _e: [], ready: function (f) { t._e.push(f) } });
  }(document, "script", "twitter-wjs"));</script>

    <script type="text/javascript" src="assets/js/googleTrack.js"></script>
    <script type="text/javascript" src="assets/js/advertisement.js"></script>
  </body>
</html>
