<div ng-controller="AlarmCtrl">
    <div class="panel panel-success" id="reveil">
        <div class="panel-heading text-center">
            <strong>{{ 'ALARM.PANEL.TITLE' | translate }} </strong>
        </div>
        <div class="panel-body">
            <div class="marketing">
                <form role="form" name="alarmForm" novalidate>
                    <div class="row">
                        <div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="sr-only" for="hour">{{ 'HOUR'  | translate }}</label>
                                    <div class="input-group">
                                        <input type="number" name="hour" class="form-control" id="hour" ng-model="alarm.time.hour" placeholder="{{ 'HOUR'  | translate }}" ng-disabled="alarm.status !== ''" min="0" max="23" ng-required="true">
                                        <div class="input-group-addon">{{ 'HOUR' | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="sr-only" for="minute"> {{ 'MINUTE' | translate }}</label>
                                    <div class="input-group">
                                        <input type="number" name="minute" class="form-control" id="minute" ng-model="alarm.time.min" placeholder="{{ 'MINUTE'  | translate }}" ng-disabled="alarm.status !== ''" min="0" max="59" ng-required="true">
                                        <div class="input-group-addon">{{ 'MINUTE' | translate }}</div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <button type="button" ng-disabled="alarmForm.$invalid" ng-click="alarm.activate()" class="btn btn-success btn-block" ng-show="alarm.button === 'ON'">
                                    {{ 'ALARM.PANEL.ACTIVATE' | translate }}
                                </button>

                                <button type="button"  ng-click="alarm.reset()" class="btn btn-danger btn-block" ng-show="alarm.button === 'OFF'">
                                    {{ 'ALARM.PANEL.OFF' | translate }}
                                </button>
                            </div>
                        </div>
                    </div>

                    <div ng-show="alarmForm.hour.$invalid || alarmForm.minute.$invalid || alarmForm.$error.maxlength || alarmForm.$error.minlength">
                        <div class="alert alert-danger" role="alert">
                            <p ng-show="alarmForm.hour.$invalid" class="help-block">{{ 'FORM.ERROR.HOUR' | translate }}</p>
                            <p ng-show="alarmForm.minute.$invalid" class="help-block">{{ 'FORM.ERROR.MINUTE' | translate }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="row" style="margin-bottom:10px;">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="col-md-8">
                                        <div class="input-group">
                                            <div class="input-group-addon">URL</div>
                                            <input type="url" name="url" ng-model="alarm.url" class="form-control" id="url" placeholder="http://youtu.be/KGyZY4HNumw" ng-required="true">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <button type="button" ng-disabled="$scope.alarmURL == ''" ng-click="launchLink('test')" class="btn btn-primary btn-block" ng-show="alarm.button === 'ON'">
                                            {{ 'ALARM.PANEL.TEST' | translate }}
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div ng-show="alarmForm.url.$invalid" class="col-md-12">
                                <div class="alert alert-danger" role="alert">
                                    <p class="help-block">{{ 'FORM.ERROR.URL' | translate }}</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- FORM ERROR -->
                    <div class="alert alert-danger" role="alert" ng-show="alarm.error != ''">
                        <p class="text-center">
                            {{ 'FORM.ERROR' | translate }}
                        </p>
                    </div>
                </form>

                <!-- COUNTDOWN DISPLAY -->
                <section id="countdown" ng-show="alarm.status !== ''">
                    <timer autostart="false" countdown="countdown" finish-callback="alarm.finish()" max-time-unit="'hour'" interval="1000">
                        <div class="alert alert-success" role="alert" ng-hide="hours == 0 && minutes == 0 && seconds == 0">
                            <p class="text-center">
                                {{ 'ALARM.WILL.RING' | translate }} <strong ng-hide="hours == 0">{{hours}} {{ 'HHOUR'|translate }}{{hoursS}}</strong> <strong ng-hide="minutes == 0">{{minutes}}  {{ 'MMINUTE'|translate }}{{minutesS}}</strong> <strong ng-hide="seconds == 0">{{seconds}}  {{ 'SSECOND'|translate }}{{secondsS}}</strong>
                            </p>
                        </div>
                    </timer>
                </section>

                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <h4><i class="fa fa-youtube-play"></i> {{ 'ALARM.PANEL.PLATFORM' | translate }}</h4>
                        <p>
                            {{ 'ALARM.PANEL.PLATFORM.DESCRIPTION' | translate }}
                        </p>
                        <div class="radio">
                            <label>
                                <input ng-click="changeUrl('http://www.youtube.com/watch?v=KGyZY4HNumw')" type="radio" name="optionsRadios" value="option1" ng-checked="'http://www.youtube.com/watch?v=KGyZY4HNumw' === alarm.url">
                                Pigeon John - Boomerang
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input ng-click="changeUrl('http://www.dailymotion.com/video/x2ze7l')" type="radio" name="optionsRadios" value="option2" ng-checked="'http://www.dailymotion.com/video/x2ze7l' === alarm.url">
                                J Dilla - Nothing like this
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input ng-click="changeUrl('https://soundcloud.com/20syl/20syl-ongoing-thing')" type="radio" name="optionsRadios" value="option3" ng-checked="'https://soundcloud.com/20syl/20syl-ongoing-thing' === alarm.url">
                                20Syl - Ongoing thing
                            </label>
                        </div>

                        <div class="radio disabled">
                            <label>
                                <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" ng-disabled="true">
                                {{ 'ALARM.YOURCHOICE' | translate }} <a href="https://www.facebook.com/reveil.en.ligne" target="_BLANK">facebook</a>
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <h4 class="text-center"><i class="fa fa-music"></i> {{ 'ALARM.PANEL.RADIO' | translate }}</h4>
                        <p>
                            {{ 'ALARM.PANEL.RADIO.DESCRIPTION' | translate }}
                        </p>
                        <div class="radio">
                            <label>
                                <input ng-click="changeUrl('ALARM.RADIO1.URL', true)" type="radio" name="optionsRadios" value="option1" ng-checked="'ALARM.RADIO1.URL' === alarm.urlId">
                                {{ 'ALARM.RADIO1' | translate }}
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input ng-click="changeUrl('ALARM.RADIO2.URL', true)" type="radio" name="optionsRadios" value="option2" ng-checked="'ALARM.RADIO2.URL' === alarm.urlId">
                                {{ 'ALARM.RADIO2' | translate }}
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input ng-click="changeUrl('ALARM.RADIO3.URL', true)" type="radio" name="optionsRadios" value="option2" ng-checked="'ALARM.RADIO3.URL'=== alarm.urlId">
                                {{ 'ALARM.RADIO3' | translate }}
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input ng-click="changeUrl('ALARM.RADIO4.URL', true)"type="radio" name="optionsRadios" value="option4" ng-checked="'ALARM.RADIO4.URL' === alarm.urlId">
                                {{ 'ALARM.RADIO4' | translate }}
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <h4 class="text-center"><i class="fa fa-video-camera"></i> {{ 'ALARM.PANEL.TV' | translate }}</h4>
                        <p>
                            {{ 'ALARM.PANEL.TV.DESCRIPTION' | translate }}
                        </p>
                        <div class="radio">
                            <label>
                                <input ng-click="changeUrl('ALARM.TV1.URL',true)" type="radio" name="optionsRadios" id="tf1" value="option1">
                                {{'ALARM.TV1' | translate}}
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input ng-click="changeUrl('ALARM.TV2.URL',true)" type="radio" name="optionsRadios" id="fr2" value="option2">
                                {{'ALARM.TV2' | translate}}
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input ng-click="changeUrl('ALARM.TV3.URL',true)"type="radio" name="optionsRadios" id="fr3" value="option3">
                                {{'ALARM.TV3' | translate}}
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input ng-click="changeUrl('ALARM.TV4.URL', true)"type="radio" name="optionsRadios" id="fr4" value="option3">
                                {{'ALARM.TV4' | translate}}
                            </label>
                        </div>
                    </div>
                </div>

                <div class="alert alert-info" role="alert">
                    <p class="text-center">
                        {{ 'ALARM.KEEPON.MESSAGE' | translate }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
