<div ng-controller="AlarmCtrl">
  <div class="panel panel-success" id="reveil">
    <div class="panel-heading text-center">
        <strong>Réveil</strong>
    </div>
    <div class="panel-body">
      <div class="marketing">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-4">
            <h4><i class="fa fa-youtube-play"></i> Plate-forme de vidéos</h4>
            <p>
              Utilisez un lien Youtube, SoundCloud...
            </p>
            <div class="radio">
              <label>
                <input ng-click="changeUrl('http://www.youtube.com/watch?v=KGyZY4HNumw')" type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                Pigeon John - Boomerang
              </label>
            </div>
            <div class="radio">
              <label>
                <input ng-click="changeUrl('http://www.dailymotion.com/video/x2ze7l')" type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                J Dilla - Nothing like this
              </label>
            </div>
            <div class="radio">
              <label>
                <input ng-click="changeUrl('https://soundcloud.com/20syl/20syl-ongoing-thing')" type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                20Syl - Ongoing thing
              </label>
            </div>

            <div class="radio disabled">
              <label>
                <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" disabled>
                Ton son ! Propose le sur <a href="https://www.facebook.com/reveil.en.ligne" target="_BLANK">la page facebook</a>
              </label>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <h4 class="text-center"><i class="fa fa-music"></i> Radio</h4>
            <p>
              Utilisez un lien radio
            </p>
              <div class="radio">
                <label>
                  <input ng-click="changeUrl('http://www.novaplanet.com/radionova/player')" type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
                  Nova
                </label>
              </div>
              <div class="radio">
                <label>
                  <input ng-click="changeUrl('http://play.nrj.fr/nrj/nrj.html')" type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                  NRJ
                </label>
              </div>
              <div class="radio">
                <label>
                  <input ng-click="changeUrl('http://www.lemouv.fr/player')" type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                  Le mouv'
                </label>
              </div>
              <div class="radio">
                <label>
                  <input ng-click="changeUrl('http://generations.fr/radio/webradio')"type="radio" name="optionsRadios" id="optionsRadios4" value="option4">
                  Generation
                </label>
              </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <h4 class="text-center"><i class="fa fa-video-camera"></i> Direct télévision</h4>
            <p>
              Regarder la télévision
            </p>
            <div class="radio">
              <label>
                <input ng-click="changeUrl('http://www.tf1.fr/live/')" type="radio" name="optionsRadios" id="tf1" value="option1">
                TF1
              </label>
            </div>
            <div class="radio">
              <label>
                <input ng-click="changeUrl('http://www.france2.fr/direct')" type="radio" name="optionsRadios" id="fr2" value="option2">
                France 2
              </label>
            </div>
            <div class="radio">
              <label>
                <input ng-click="changeUrl('http://www.france3.fr/direct')"type="radio" name="optionsRadios" id="fr3" value="option3">
                France 3
              </label>
            </div>
            <div class="radio">
              <label>
                <input ng-click="changeUrl('http://pluzz.francetv.fr/france4')"type="radio" name="optionsRadios" id="fr4" value="option3">
                France 4
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <form role="form" name="alarmForm" novalidate>
          <div class="row" style="margin-bottom:10px;">
            <div class="col-md-12">
              <div class="form-group">
                <div class="col-md-8">
                  <div class="input-group">
                    <div class="input-group-addon">URL</div>
                    <input type="url" name="url" ng-model="alarm.url" class="form-control" id="url" placeholder="Entrez une URL, exemple : http://youtu.be/KGyZY4HNumw" required>
                  </div>
                </div>
                <div class="col-md-4">
                  <button type="button" ng-disabled="$scope.alarmURL == ''" ng-click="launchLink('test')" class="btn btn-primary btn-block" ng-show="alarm.button === 'ON'">
                    Tester
                  </button>
                </div>
              </div>
              <p ng-show="alarmForm.url.$invalid" class="help-block">L'url n'est pas valide, example : <strong>http://www.youtube.com/watch?v=KGyZY4HNumw</strong></p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="col-md-4">
                <div class="form-group">
                  <label class="sr-only" for="hour">Heure</label>
                  <div class="input-group">
                    <input type="number" name="hour" class="form-control" id="hour" ng-model="alarm.time.hour" placeholder="Heure" ng-disabled="alarm.status !== ''" ng-minlength=0 ng-minlength=23 required>
                    <div class="input-group-addon">Heure</div>
                    <p ng-show="alarmForm.hour.$error.minlength || alarmForm.alarm.time.hour.$error.maxlength"  class="help-block">L'heure n'est pas au bon format, entre 0 et 23.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="sr-only" for="minute">Minute</label>
                  <div class="input-group">
                    <input type="number" name="minute" class="form-control" id="minute" ng-model="alarm.time.min" placeholder="Minute" ng-disabled="alarm.status !== ''" ng-minlength=0 ng-minlength=59 required>
                    <div class="input-group-addon">Minute</div>
                    <p ng-show="alarmForm.minute.$error.minlength || alarmForm.alarm.time.hour.$error.maxlength"  class="help-block">Les minutes ne sont pas au bon formats, entre 0 et 59.</p>
                  </div>
                </div>
            </div>

            <div class="col-md-4">
              <button type="button" ng-disabled="alarmForm.$invalid" ng-click="alarm.activate()" class="btn btn-primary btn-block" ng-show="alarm.button === 'ON'">
                {{ alarm.button }}
              </button>

              <button type="button"  ng-click="alarm.reset()" class="btn btn-danger btn-block" ng-show="alarm.button === 'OFF'">
                {{ alarm.button }}
              </button>
            </div>
          </div>
        </div>

        </form>
      </div>

      <!-- FORM ERROR -->
      <div class="alert alert-danger" role="alert" ng-show="alarm.error != ''">
        <p class="text-center">
            {{ alarm.error }}
        </p>
      </div>

      <!-- COUNTDOWN DISPLAY -->
      <section id="countdown" ng-show="alarm.status !== ''">
        <timer autostart="false" countdown="countdown" finish-callback="alarm.finish()" max-time-unit="'hour'" interval="1000">
          <div class="alert alert-success" role="alert" ng-hide="hours == 0 && minutes == 0 && seconds == 0">
            <p class="text-center">
              L'alarme sonnera dans <strong ng-hide="hours == 0">{{hours}} heure{{hoursS}}</strong> <strong ng-hide="minutes == 0">{{minutes}} minute{{minutesS}}</strong> <strong ng-hide="seconds == 0">{{seconds}} seconde{{secondsS}}</strong>
            </p>
          </div>
        </timer>
      </section>
    </div>
  </div>
</div>
