<div ng-controller="AlarmCtrl">
    <div class="panel panel-success" id="reveil">
        <div class="panel-heading text-center">
            <strong>{{ 'ALARM.PANEL.TITLE' | translate }} </strong>
        </div>
        <div class="panel-body">
            <div class="marketing">
                <form role="form" name="alarmForm" novalidate>
                    <div class="row">
                        <div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="sr-only" for="hour">{{ 'HOUR'  | translate }}</label>
                                    <div class="input-group">
                                        <div class="input-group-addon">{{ 'HOUR' | translate }}</div>
                                        <input type="number" name="hour" class="form-control" id="hour" ng-model="alarm.time.hour" placeholder="{{ 'HOUR'  | translate }}" ng-disabled="alarm.status !== ''" min="0" max="23" ng-required="true">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="sr-only" for="minute"> {{ 'MINUTE' | translate }}</label>
                                    <div class="input-group">
                                        <div class="input-group-addon">{{ 'MINUTE' | translate }}</div>
                                        <input type="number" name="minute" class="form-control" id="minute" ng-model="alarm.time.min" placeholder="{{ 'MINUTE'  | translate }}" ng-disabled="alarm.status !== ''" min="0" max="59" ng-required="true">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="timeValidError" ng-show="alarmForm.hour.$invalid || alarmForm.minute.$invalid || alarmForm.$error.maxlength || alarmForm.$error.minlength">
                        <div class="alert alert-danger" role="alert">
                            <p ng-show="alarmForm.hour.$invalid" class="help-block">{{ 'FORM.ERROR.HOUR' | translate }}</p>
                            <p ng-show="alarmForm.minute.$invalid" class="help-block">{{ 'FORM.ERROR.MINUTE' | translate }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="row" style="margin-bottom:10px;">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="col-md-8">
                                        <div class="input-group">
                                            <div class="input-group-addon" data-toggle="tooltip" data-placement="top" title=" YouTube, Twitch, Deezer, SoundCloud, Mixcloud, Dailymotion">URL</div>
                                            <input type="url" name="url" ng-model="alarm.url" class="form-control" id="url" placeholder="http://youtu.be/KGyZY4HNumw" ng-required="true">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <button type="button" ng-disabled="alarm.url == ''" ng-click="launchLink('test')" id="testBtn" class="btn btn-primary btn-block" ng-show="alarm.button === 'ON'">
                                            {{ 'ALARM.PANEL.TEST' | translate }}
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div id="urlValidError" ng-show="alarmForm.url.$invalid" class="col-md-12">
                                <div class="alert alert-danger" role="alert">
                                    <p class="help-block">{{ 'FORM.ERROR.URL' | translate }}</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- FORM ERROR -->
                    <div class="alert alert-danger" role="alert" ng-show="alarm.error != ''">
                        <p class="text-center">
                            {{ 'FORM.ERROR' | translate }}
                        </p>
                    </div>

                    <!-- ACTIVATE -->
                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" id="activateBtn" ng-disabled="alarmForm.$invalid" ng-click="alarm.activate()" class="btn btn-success btn-block" ng-show="alarm.button === 'ON'">
                                {{ 'ALARM.PANEL.ACTIVATE' | translate }}
                            </button>

                            <button type="button" id="offBtn" ng-click="alarm.reset()" class="btn btn-danger btn-block" ng-show="alarm.button === 'OFF'">
                                {{ 'ALARM.PANEL.OFF' | translate }}
                            </button>
                        </div>
                    </div>

                    <div class="alert alert-info" role="alert">
                        <p class="text-center">
                            {{ 'ALARM.KEEPON.MESSAGE' | translate }}
                        </p>
                    </div>
                </form>

                <!-- COUNTDOWN DISPLAY -->
                <section id="countdown" ng-show="alarm.status !== ''">
                    <timer autostart="false" countdown="countdown" language="{{ language }}" max-time-unit="'hour'" interval="1000">
                        <div class="alert alert-success" role="alert" ng-hide="hourUnit == 0">
                            <p class="text-center">
                                {{ 'ALARM.WILL.RING' | translate }} {{ hourUnit }}</strong>
                            </p>
                        </div>
                    </timer>
                    <div class="progress" ng-hide="displayProgressBar === 100">
                        <div class="progress-bar progress-bar-success progress-bar-striped {{displayProgressActive}}" role="progressbar" aria-valuenow="{{ displayProgressBar }}" aria-valuemin="0" aria-valuemax="100" style="min-width: 2.3em; width:{{ displayProgressBar }}%;">
                            {{ displayProgressBar }}%
                        </div>
                    </div>
                </section>


                <!-- URL TO PLAY -->
                <div class="row">
                    <div class="col-lg-6 center-block" style="float:none;">
                        <div id="url2play" class="flex-video" ng-show="playURL"></div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-8">
                        <h4><i class="fa fa-youtube-play"></i> {{ 'ALARM.PANEL.PLATFORM' | translate }}</h4>
                        <p>
                            {{ 'ALARM.PANEL.PLATFORM.DESCRIPTION' | translate }}
                        </p>

                        <div class="col-md-6">
                            <div class="radio">
                                <label>
                                    <input ng-click="changeUrl('http://www.youtube.com/watch?v=KGyZY4HNumw')" type="radio" name="optionsRadios"  id="youtube1" value="option1" ng-checked="'http://www.youtube.com/watch?v=KGyZY4HNumw' === alarm.url">
                                    Pigeon John - Boomerang
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input ng-click="changeUrl('http://www.dailymotion.com/video/x2ze7l')" type="radio" name="optionsRadios" id="dailymotion1" value="option2" ng-checked="'http://www.dailymotion.com/video/x2ze7l' === alarm.url">
                                    J Dilla - Nothing like this
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input ng-click="changeUrl('https://soundcloud.com/20syl/alltta-20syl-mr-j-medeiros-million-dreams-instrumental')" type="radio" name="optionsRadios" id="soundcloud1" value="option3" ng-checked="'https://soundcloud.com/20syl/alltta-20syl-mr-j-medeiros-million-dreams-instrumental' === alarm.url">
                                    Alltta - Million Dreams
                                </label>
                            </div>

                            <div class="radio disabled">
                                <label>
                                    <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" ng-disabled="true">
                                    {{ 'ALARM.YOURCHOICE' | translate }} <a href="https://www.facebook.com/reveil.en.ligne" target="_BLANK">facebook</a>
                                </label>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="radio">
                                <label>
                                    <input ng-click="changeUrl('https://www.mixcloud.com/VinylAddict/pete-rock-vs-dj-premier/')" type="radio" name="optionsRadios" id="Mixcloud1" value="option1" ng-checked="'https://www.mixcloud.com/VinylAddict/pete-rock-vs-dj-premier/' === alarm.url">
                                    Pete Rock vs DJ Premier on MixCloud
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input ng-click="changeUrl('http://www.deezer.com/track/91883774')" type="radio" name="optionsRadios" id="deezer1" value="option2" ng-checked="'http://www.deezer.com/track/91883774' === alarm.url">
                                    Joey Bada$$ - Paper Trail$
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input ng-click="changeUrl('https://soundcloud.com/atomathome/daft-punk-emotion-atom-remix')"type="radio" name="optionsRadios" id="fr3" value="option3" ng-checked="'https://soundcloud.com/atomathome/daft-punk-emotion-atom-remix' === alarm.url">
                                    Daft Punk - Emotion (ATOM Remix)
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input ng-click="changeUrl('http://www.deezer.com/radio/genre/30761')"type="radio" name="optionsRadios" id="fr4" value="option3" ng-checked="'http://www.deezer.com/radio/genre/30761' === alarm.url">
                                    Deezer Radio - Indie Pop Rock
                                </label>
                            </div>
                        </div>
                    </div>


                    <!-- RADIOS -->
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <h4 class="text-center"><i class="fa fa-music"></i> {{ 'ALARM.PANEL.RADIO' | translate }}</h4>
                        <p>
                            {{ 'ALARM.PANEL.RADIO.DESCRIPTION' | translate }}
                        </p>
                        <div class="radio">
                            <label>
                                <input ng-click="changeUrl('ALARM.RADIO1.URL', true)" type="radio" name="optionsRadios" value="option1" ng-checked="'ALARM.RADIO1.URL' === alarm.urlId">
                                {{ 'ALARM.RADIO1' | translate }}
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input ng-click="changeUrl('ALARM.RADIO2.URL', true)" type="radio" name="optionsRadios" value="option2" ng-checked="'ALARM.RADIO2.URL' === alarm.urlId">
                                {{ 'ALARM.RADIO2' | translate }}
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input ng-click="changeUrl('ALARM.RADIO3.URL', true)" type="radio" name="optionsRadios" value="option2" ng-checked="'ALARM.RADIO3.URL'=== alarm.urlId">
                                {{ 'ALARM.RADIO3' | translate }}
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input ng-click="changeUrl('ALARM.RADIO4.URL', true)"type="radio" name="optionsRadios" value="option4" ng-checked="'ALARM.RADIO4.URL' === alarm.urlId">
                                {{ 'ALARM.RADIO4' | translate }}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
