<!-- CHRONO DISPLAY -->
<div ng-controller="ChronoCtrl">
  <section id="chrono">
    <div class="panel panel-primary">
      <div class="panel-heading text-center">
          <strong> {{ 'CHRONO.PANEL.TITLE' | translate }}</strong>
      </div>
      <div class="panel-body text-center">
        <!-- CHRONO CONTROLLERS -->
        <div class="row">
            <div class="col-md-4">
                <button id="timerCtrl" ng-click="manageTimer()" class="btn btn-primary btn-block">
                    {{ timerStartOrStop | translate }}
                </button>
            </div>

            <div class="col-md-4">
                <button ng-click="lapTimer(yearUnit)" id="lapBtn" class="btn btn-warning btn-block" ng-disabled="!timerRunning && !timerPaused">
                    {{  'CHRONO.BUTTON.LAP'| translate }}
                </button>
            </div>

            <div class="col-md-4">
                <button ng-click="clearTimer()" id="clearBtn" class="btn btn-danger btn-block" ng-disabled="!timerRunning && !timerPaused">
                    {{  'CHRONO.BUTTON.CLEAR'| translate }}
                </button>
            </div>
        </div>

        <timer autostart="false" interval="1000" language="{{ language }}">
          <h3 ng-hide="yearUnit === '0'">
              {{ yearUnit }}
          </h3>
        </timer>

        <!-- LAPS -->
        <table id="chronoLaps" class="table table-striped"  ng-show="times.length > 0">
            <tr>
                <th class="text-center">#</th>
                <th class="text-center">  {{  'CHRONO.RECORD.TIME'| translate }}</th>
            </tr>
            <tr id="lapsData" ng-repeat="time in times track by $index">
                <td>{{ $index + 1 }}</td>
                <td>{{ time }}</td>
            </tr>
        </table>
      </div>
    </div>
  </section>
</div>
