<div class="jumbotron">
  <h3><span>{{clock.time | amDateFormat:'dddd D MMMM YYYY'}}</span></h3>
  <h2><span>{{clock.time | amDateFormat:'HH:mm:ss'}}</span></h2>

  <div class="row" id="reveil">
    <form role="form">
      <div class="col-md-12">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon">URL</div>
          <input type="url" ng-model="alarm.url" class="form-control" id="url" placeholder="Entrez une URL, exemple : http://youtu.be/KGyZY4HNumw">
        </div>
      </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="sr-only" for="hour">Heure</label>
          <div class="input-group">
            <div class="input-group-addon">Heure</div>
            <input type="number" class="form-control" id="hour" ng-model="alarm.time.hour" placeholder="Heure" ng-disabled="alarm.status !== ''">
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="sr-only" for="minute">Minute</label>
          <div class="input-group">
            <div class="input-group-addon">Minute</div>
            <input type="number" class="form-control" id="minute" ng-model="alarm.time.min" placeholder="Minute" ng-disabled="alarm.status !== ''">
          </div>
        </div>
    </div>

    <button type="button" ng-click="alarm.activate()" class="btn btn-primary col-md-3" ng-show="alarm.status === ''">
      {{ alarm.button }}
    </button>

    <button type="button"  ng-click="alarm.reset()" class="btn btn-danger  col-md-3" ng-show="alarm.status !== ''">
      {{ alarm.button }}
    </button>
  </div>

  <section id="countdown" ng-show="alarm.status !== ''">
    <timer autostart="false" countdown="alarm.value" finish-callback="alarm.finish()" max-time-unit="'hour'" interval="1000">
      <div class="alert alert-success" role="alert">
        <p>
          L'alarme sonnera dans <strong>{{hours}} heure{{hoursS}}</strong> et <strong>{{minutes}} minute{{minutesS}}</strong>
        </p>
      </div>
    </timer>
  </section>

  <ul class="list-inline social-buttons">
    <li>
      <div class="fb-like" data-href="http://www.facebook.com/reveil.en.ligne" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div></li>
    <li>
      <a href="https://twitter.com/share" class="twitter-share-button" data-text="Le réveil en ligne préféré des internautes" data-via="polomarcus" data-hashtags="reveil">Tweeter ce site</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </li>
    <li plus-one></li>
  </ul>
  </form>
</div>

<div id="url2play" class="col-md-12">

</div>

<div class="marketing">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <h4><i class="glyphicon glyphicon-play-circle"></i> Plate-forme de vidéos</h4>
      <p>
        Utilisez un lien youtube, dailymotion !
      </p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <h4><i class="fa fa-magic"></i> Vos radios</h4>
      <p>
        Utilisez un lien de vos radios
        Images quand on clique ça met l'URL
      </p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <h4><i class="glyphicon glyphicon-facetime-video"></i> Vos emissions télés</h4>
      <p>
        Utilisez un lien de vos radios
        Images quand on clique ça met l'URL
      </p>
    </div>
  </div>
</div>


<div class="jumbotron">
  <section id="chrono">
      <h2>
        Chronometre
      </h2>
       <h3>
         <timer autostart="false" interval="1000">
           {{hours}} heure{{hoursS}}
           {{minutes}} minute{{minutesS}}
           {{seconds}} seconde{{secondsS}}
         </timer>
       </h3>
      <button ng-click="startTimer()" class="btn btn-primary" ng-hide="timerRunning">Start</button>
      <button ng-click="resumeTimer()" class="btn btn-info" ng-hide="!timerPaused">Continuer</button>
      <button ng-click="stopTimer()" class="btn btn-warning" ng-hide="!timerRunning">Stop</button>
  </section>
</div>
